<div class="grid lg:grid-cols-12">
  <div class="bg-white lg:col-span-3 sm:max-w-full " *ngFor="let a of studData">

    <!-- drawer init and toggle -->
    <!-- <div class="text-left lg:hidden mb-6">
      <button type="button" class="text-blue-900 font-extrabold" type="button" data-drawer-target="drawer-left-example"
        data-drawer-show="drawer-left-example" data-drawer-placement="left" aria-controls="drawer-left-example">
        <span class="sr-only">Open sidebar</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
          </path>
        </svg>
      </button>
    </div> -->

    <!-- drawer component -->
    <div id="drawer-left-example"
      class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-80 dark:bg-gray-800"
      tabindex="-1" aria-labelledby="drawer-left-label">
      <button type="button" data-drawer-hide="drawer-left-example" aria-controls="drawer-left-example"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 right-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close menu</span>
      </button>
      <div style="padding-left: 3rem;" class="mb-5">
        <ol class="relative text-gray-500 border-l border-gray-200 dark:border-gray-700 dark:text-gray-400" style="padding-top: 8rem;">
          <li class="mb-10 ml-6">
            <span
              class="absolute flex items-center justify-center w-8 h-8 bg-green-200 rounded-full -left-4 ring-4 ring-white dark:ring-gray-900 dark:bg-green-900">
              <svg class="w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5.917 5.724 10.5 15 1.5" />
              </svg>
            </span>
            <h3 class="font-medium leading-tight" *ngIf="a.date_of_payment != null">Enrollment Data</h3>
            <a *ngIf="a.date_of_payment == null" class="font-medium leading-tight text-blue-500"
              routerLink="/home/tracking/studentprofile">Enrollment
              Data</a>
            <p class="text-sm text-blue-500 mt-2" *ngIf="a.date_register != null">
              <span
                class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
                Approval Date: {{a.date_register}}
              </span>

            </p>
          </li>
          <li class="mb-10 ml-6">
            <span *ngIf="a.date_register == null"
              class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -left-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
            </span>
            <span *ngIf="a.date_register != null"
              class="absolute flex items-center justify-center w-8 h-8 bg-green-200 rounded-full -left-4 ring-4 ring-white dark:ring-gray-900 dark:bg-green-900">
              <svg class="w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5.917 5.724 10.5 15 1.5" />
              </svg>
            </span>
            <h3 class="font-medium leading-tight" *ngIf="a.date_register == null">Tuition & Fees</h3>
            <a class="font-medium leading-tight text-blue-500" href="/student" routerLink="/home/tracking/tuition-fees"
              *ngIf="a.date_register != null">Tuition & Fees</a>
            <p class="text-sm text-blue-500 mt-2" *ngIf="a.date_register != null">
              <span
                class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
                Grade {{a.grade_level}} {{a.strand}}
              </span>
            </p>
            <p class="text-sm" *ngIf="a.date_register == null">Step details here</p>
          </li>
          <li class="mb-10 ml-6">
            <span *ngIf="a.date_of_payment != null"
              class="absolute flex items-center justify-center w-8 h-8 bg-green-200 rounded-full -left-4 ring-4 ring-white dark:ring-gray-900 dark:bg-green-900">
              <svg class="w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5.917 5.724 10.5 15 1.5" />
              </svg>
            </span>
            <span *ngIf="a.date_of_payment == null"
              class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -left-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
            </span>
            <a class="font-medium leading-tight" *ngIf="a.payment_approval != null">Upload Receipt</a>
            <a class="font-medium leading-tight text-blue-500" href="/student" routerLink="/home/tracking/proof"
              *ngIf="a.payment_approval == null">Upload Receipt</a>
            <p class="text-sm" *ngIf="a.date_of_payment == null">Upload Date</p>
            <p class="text-sm mt-2" *ngIf="a.date_of_payment != null">
              <span
                class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
                Upload Date: {{a.date_of_payment}}
              </span>
            </p>
          </li>
          <li class="mb-10 ml-6">
            <span *ngIf="a.payment_approval!= null"
              class="absolute flex items-center justify-center w-8 h-8 bg-green-200 rounded-full -left-4 ring-4 ring-white dark:ring-gray-900 dark:bg-green-900">
              <svg class="w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5.917 5.724 10.5 15 1.5" />
              </svg>
            </span>
            <span *ngIf="a.payment_approval == null"
              class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -left-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
            </span>
            <a *ngIf="a.payment_approval != null" class="font-medium leading-tight text-blue-500"
              routerLinkActive="/home/tracking/payment">Payment Approval</a>
            <h3 *ngIf="a.payment_approval == null" class="font-medium leading-tight">Payment Approval</h3>
            <p *ngIf="a.payment_approval != null" class="text-sm mt-2">
              <span
                class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
                Approval Date: {{a.payment_approval}}
              </span>
            </p>
            <p *ngIf="a.payment_approval == null" class="text-sm">Step details here</p>
          </li>
          <li class="mb-10 ml-6">
            <span
              class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -left-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
            </span>
            <h3 class="font-medium leading-tight">Enrollment Approval </h3>
            <p class="text-sm">Step details here</p>
          </li>
          <li class="ml-6 mb-5">
            <span
              class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -left-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
            </span>
            <h3 class="font-medium leading-tight">Completed</h3>
            <p class="text-sm">Step details here</p>
          </li>
        </ol>
      </div>
    </div>

    <div style="padding-left: 4rem;" class="hidden sm:block xs:block">
      <ol class="relative text-gray-500 border-l border-gray-200 dark:border-gray-700 dark:text-gray-400 mt-5">
        <li class="mb-10 ml-6">
          <span
            class="absolute flex items-center justify-center w-8 h-8 bg-green-200 rounded-full -left-4 ring-4 ring-white dark:ring-gray-900 dark:bg-green-900">
            <svg class="w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5" />
            </svg>
          </span>
          <h3 class="font-medium leading-tight" *ngIf="a.date_of_payment != null">Enrollment Data</h3>
          <a *ngIf="a.date_of_payment == null" class="font-medium leading-tight text-blue-500"
            routerLink="/home/tracking/studentprofile">Enrollment
            Data</a>
          <p class="text-sm text-blue-500 mt-2" *ngIf="a.date_register != null">
            <span
              class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
              Approval Date: {{a.date_register}}
            </span>

          </p>
        </li>
        <li class="mb-10 ml-6">
          <span *ngIf="a.date_register == null"
            class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -left-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
          </span>
          <span *ngIf="a.date_register != null"
            class="absolute flex items-center justify-center w-8 h-8 bg-green-200 rounded-full -left-4 ring-4 ring-white dark:ring-gray-900 dark:bg-green-900">
            <svg class="w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5" />
            </svg>
          </span>
          <h3 class="font-medium leading-tight" *ngIf="a.date_register == null">Tuition & Fees</h3>
          <a class="font-medium leading-tight text-blue-500" href="/student" routerLink="/home/tracking/tuition-fees"
            *ngIf="a.date_register != null">Tuition & Fees</a>
          <p class="text-sm text-blue-500 mt-2" *ngIf="a.date_register != null">
            <span
              class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
              Grade {{a.grade_level}} {{a.strand}}
            </span>
          </p>
          <p class="text-sm" *ngIf="a.date_register == null">Step details here</p>
        </li>
        <li class="mb-10 ml-6">
          <span *ngIf="a.date_of_payment != null"
            class="absolute flex items-center justify-center w-8 h-8 bg-green-200 rounded-full -left-4 ring-4 ring-white dark:ring-gray-900 dark:bg-green-900">
            <svg class="w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5" />
            </svg>
          </span>
          <span *ngIf="a.date_of_payment == null"
            class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -left-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
          </span>
          <a class="font-medium leading-tight" *ngIf="a.payment_approval != null">Upload Receipt</a>
          <a class="font-medium leading-tight text-blue-500" href="/student" routerLink="/home/tracking/proof"
            *ngIf="a.payment_approval == null">Upload Receipt</a>
          <p class="text-sm" *ngIf="a.date_of_payment == null">Upload Date</p>
          <p class="text-sm mt-2" *ngIf="a.date_of_payment != null">
            <span
              class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
              Upload Date: {{a.date_of_payment}}
            </span>
          </p>
        </li>
        <li class="mb-10 ml-6">
          <span *ngIf="a.payment_approval!= null"
            class="absolute flex items-center justify-center w-8 h-8 bg-green-200 rounded-full -left-4 ring-4 ring-white dark:ring-gray-900 dark:bg-green-900">
            <svg class="w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5" />
            </svg>
          </span>
          <span *ngIf="a.payment_approval == null"
            class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -left-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
          </span>
          <a *ngIf="a.payment_approval != null" class="font-medium leading-tight text-blue-500"
            routerLinkActive="/home/tracking/payment">Payment Approval</a>
          <h3 *ngIf="a.payment_approval == null" class="font-medium leading-tight">Payment Approval</h3>
          <p *ngIf="a.payment_approval != null" class="text-sm mt-2">
            <span
              class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
              Approval Date: {{a.payment_approval}}
            </span>
          </p>
          <p *ngIf="a.payment_approval == null" class="text-sm">Step details here</p>
        </li>
        <li class="mb-10 ml-6">
          <span *ngIf="a.regapproval_date != null"
            class="absolute flex items-center justify-center w-8 h-8 bg-green-200 rounded-full -left-4 ring-4 ring-white dark:ring-gray-900 dark:bg-green-900">
            <svg class="w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5" />
            </svg>
          </span>
          <span *ngIf="a.regapproval_date == null"
            class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -left-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
          </span>
          <h3 class="font-medium leading-tight">Enrollment Approval </h3>
          <p *ngIf="a.regapproval_date == null" class="text-sm">Step details here</p>
          <p *ngIf="a.regapproval_date != null" class="text-sm mt-2">
            <span
              class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
              Approval Date: {{a.regapproval_date}}
            </span>
          </p>
        </li>
        <li class="ml-6 mb-5">
          <span *ngIf="a.regapproval_date != null"
            class="absolute flex items-center justify-center w-8 h-8 bg-green-200 rounded-full -left-4 ring-4 ring-white dark:ring-gray-900 dark:bg-green-900">
            <svg class="w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5" />
            </svg>
          </span>
          <span *ngIf="a.regapproval_date == null"
            class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -left-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
          </span>
          <h3 class="font-medium leading-tight">Completed</h3>
          <p *ngIf="a.regapproval_date == null" class="text-sm">Step details here</p>
          <p *ngIf="a.regapproval_date != null" class="text-sm mt-2">
            <span
              class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
              Approval Date: {{a.regapproval_date}}
            </span>
          </p>
        </li>
      </ol>
    </div>

  </div>
  <div class="bg-white lg:col-span-9 sm:max-w-5xl">
    <router-outlet></router-outlet>
  </div>
</div>