<div class="grid lg:grid-cols-3">
    <div class="bg-blue-900 vh-auto p-3 shadow-lg"
        style="background-image: url('assets/login.jpg'); background-size: cover; background-position: center center;">
        <div class=" mx-auto max-w-screen-2xl text-center py-24 lg:py-24">
            <h1 class=" text-sm font-bold text-white lg:text-xl ">


                <div class="flex items-center justify-center">
                    <img src="assets/logo.png" alt="Descriptive Alt Text" width="150">
                </div>
                <br>
                JUNIOR HIGH | SENIOR HIGH SCHOOL
            </h1>
            <br><br>
            <h1
                class="mb-4 text-5xl font-extrabold tracking-tight leading-none text-yellow-300 md:text-4xl lg:text-5xl">
                ONLINE REGISTRATION</h1>
            <h1 class="font-extrabold text-white text-xl">S.Y. 2023 - 2024</h1>
        </div>
    </div>
    <div class="p-5 border border-blue-900">
        <div
            class="max-w-md sm:max-w-full p-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <h5 class="text-3xl font-extrabold text-gray-900 text-center">
                STUDENT LOGIN
            </h5>
            <br>
            <form class=" p-3">
                <div class="mb-3">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Username
                    </label>
                    <input type="text" id="email"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="name@flowbite.com">
                </div>
                <div class="mb-6">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Registration Reference Number
                    </label>
                    <input type="password" id="password"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div class="grid gap-6 mb-2 md:grid-cols-2">
                    <div>
                        <button type="submit"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outpne-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                    </div>
                    <div class="text-end text-blue-500">
                        <a href="">Forgot Password?</a>
                    </div>
                </div>

            </form>
        </div>
        <br>
        <div class="max-w-md sm:max-w-full p-4 bg-green-100 shadow rounded-lg text-center">
            <a href="#">
                <h5 class="mb-3 text-medium font-semibold tracking-tight text-blue-500 dark:text-white">No Login
                    Account? <b>ENROLL NOW</b></h5>
            </a>
            <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outpne-none focus:ring-blue-300 font-medium rounded-lg text-xs w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                ADMISSION REQUIREMENTS
            </button>
        </div>
        <br>
        <div class="max-w-md sm:max-w-full p-4 bg-blue-100 text-blue-500 rounded-lg">
            <b>For Inquiries please contact:</b>
            <hr>
            academy@nlac.edu.ph
            <br>
            nfo.nlacacademy@gmail.com
            <br>

            https://www.facebook.com/NLACAcademy
        </div>
    </div>
    <div class="p-5">
        <div class="max-w-lg sm:max-w-full p-5 bg-green-50 rounded-lg">
            <h1 class="text-2xl text-extrabold">
                <b>ENROLLMENT PROCEDURE</b>
            </h1>
            <br>
            <div class="p-3" style="font-family: 'Alumni Sans', sans-serif;">
                <p>1. Register onpne.(LRN required)</p>
                <p>2. Fill out the vaccination form.(vaccinated applicants only).</p>
                <p>3. DOWNLOAD,PRINT & SIGN the Student's/Parent’s Guidelines Contract Form
                    <a href=""><b class="text-blue-500">Downloadable Student Contract</b></a></p>
                <p>4. Submit your DOCUMENTS/ REQUIREMENTS to the Academy Registrar</p>
                <p>5. Settle your Fees</p>
                <p>6. ID Picture.(Wear WHITE COLLARED shirt ONLY. NO JEWELRIES. PROPER HAIR COLOR (BLACK). PROPER
                    HAIRCUT IS REQUIRED)</p>
                <p>7. Proceed to the Academy Registrar's Office for Verification and Confirmation</p>
                <p>8. Check your Official Electronic Registration Form through your registered E-mail.</p>
                <p>9. Confirm your registration at the Academy Registrar</p>
                <p>10. Congratulations! You are now officially enrolled. WELCOME TO the NLAC family</p>
                <br><br>
                <b>Note:</b> A verification message will be sent to the email address you've provided.
            </div>
        </div>
    </div>
</div>