<div class="lg:max-w-full">
    <h1 class="text-xl font-extrabold text-blue-900 mb-3 lg:text-3xl">TUITION AND FEES</h1>
    <div class="grid gap-6 md:grid-cols-2">
        <div>

            <div *ngFor="let data of studData"
                class="block max-w-full p-6 bg-white rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    {{data.fname}} {{data.middle}} {{data.lname}}
                    <span
                        class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">
                        Grade {{data.grade_level}} {{data.strand}}
                    </span>
                </h5>
                <div class="relative">
                    <table class="w-full text-md text-left text-gray-500 dark:text-gray-800" *ngFor="let fee of tuitionAndFees">
                        <thead>
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row"
                                    class="p-3 py-2 font-medium text-gray-600 whitespace-nowrap dark:text-white">
                                    Old Account
                                </th>

                                <td
                                    class="p-3 py-2 font-medium text-gray-900 text-end whitespace-nowrap dark:text-white">
                                    {{(fee.old_acct) | number:'1.2-2'}}
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row"
                                    class="p-3 py-2 font-medium text-gray-600 whitespace-nowrap dark:text-white">
                                    Tuition Fee
                                </th>

                                <td
                                    class="p-3 py-2 font-medium text-gray-600 text-end whitespace-nowrap dark:text-white">
                                    {{(fee.tuition_fees) | number:'1.2-2'}}
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row"
                                    class="p-3 py-2 font-medium text-gray-600 whitespace-nowrap dark:text-white">
                                    General and Miscallaenous Fees
                                </th>

                                <td
                                    class="p-3 py-2 font-medium text-gray-600 text-end whitespace-nowrap dark:text-white">
                                    {{(fee.gen_fee) | number:'1.2-2'}}
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row"
                                    class="p-3 py-2 font-medium text-gray-600 whitespace-nowrap dark:text-white">
                                    LMS Fee:
                                </th>

                                <td
                                    class="p-3 py-2 font-medium text-gray-600 text-end whitespace-nowrap dark:text-white">
                                    {{(fee.lms_fee) | number:'1.2-2'}}
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row"
                                    class="p-3 py-2 font-medium text-gray-600 whitespace-nowrap dark:text-white">
                                    School Subsidy:
                                </th>

                                <td
                                    class="p-3 py-2 font-medium text-gray-600 text-end whitespace-nowrap dark:text-white">
                                    {{(fee.school_subsidy) | number:'1.2-2'}}
                                </td>
                            </tr>
                            <tr class="bg-white dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row"
                                    class="p-3 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <b>Total Tuition and Fees (+old account):</b>
                                </th>

                                <td class="p-3 py-2 font-medium text-gray-900 text-end whitespace-nowrap dark:text-white"
                                    style="border-bottom: 3px double #000;">
                                    <b>{{(fee.old_acct + fee.tuition_fees + fee.gen_fee + fee.lms_fee - fee.school_subsidy) | number:'1.2-2'}}</b>
                                </td>
                            </tr>
                            <tr class="bg-white dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row"
                                    class="p-3 py-2 font-medium text-gray-900 text-end whitespace-nowrap dark:text-white">
                                    <b>Less: ESC</b>
                                </th>

                                <td
                                    class="p-3 py-2 font-medium text-gray-900 text-end whitespace-nowrap dark:text-white">
                                    <b>{{(fee.esc) | number:'1.2-2'}}</b>
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row"
                                    class="p-3 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <b>Total Balance:</b>
                                </th>

                                <td
                                    class="p-3 py-2 font-medium text-gray-600 text-end whitespace-nowrap dark:text-white">
                                    {{(fee.old_acct + fee.tuition_fees + fee.gen_fee + fee.lms_fee - (fee.esc + fee.school_subsidy)) | number:'1.2-2'}}
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row"
                                    class="p-3 py-2 font-medium text-gray-900 text-end whitespace-nowrap dark:text-white">
                                    <b>Down Payment: </b>
                                </th>

                                <td class="p-3 py-2 font-medium text-gray-900 text-end whitespace-nowrap dark:text-white"
                                    style="border-bottom: 3px double #000;">
                                    <b>
                                        {{ (fee.old_acct + fee.tuition_fees + fee.gen_fee + fee.lms_fee - (fee.esc + fee.school_subsidy)) * 0.40 | number:'1.2-2'}}
                                    </b>
                                </td>
                            </tr>
                            <tr class="bg-green-200 border-b dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row"
                                    class="p-3 py-2 font-medium text-gray-900 text-end whitespace-nowrap dark:text-white">
                                    <b>Down Payment (No ESC): </b>
                                </th>

                                <td
                                    class="p-3 py-2 font-medium text-gray-900 text-end whitespace-nowrap dark:text-white">
                                    <b>
                                        {{ (fee.old_acct + fee.tuition_fees + fee.gen_fee + fee.lms_fee - (fee.esc + fee.school_subsidy)) * 0.40 | number:'1.2-2' }}
                                    </b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <button type="button" (click)="fees()"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Next</button>
            </div>

        </div>

        <div>

            <div
                class="w-full p-4 bg-green-100 rounded-lg sm:p-8 dark:bg-gray-800 dark:border-gray-700">
                <div class="" style="font-size: 18px; text-align: left;">
                    <strong class="text-green-900">
                        For incoming Grade 11
                    </strong>, ESC Certificate can be used as down payment. Those coming from public school no need to
                    pay downpayment.
                </div>
                <br>
            </div>
            <br>
            <div class="block max-w-full p-6 rounded-lg bg-blue-50">
                <div class="" style="font-size: 18px; text-align: left;">
                    <strong class="text-grey-400">
                        Payment could be made through:</strong>
                </div>


                <ol class="space-y-4 text-gray-900 list-decimal list-inside dark:text-gray-400">
                    <li>
                        School Cashier
                        <ul class="pl-5 mt-2 space-y-1 list-disc list-inside">
                            <li>7:30 A.M. - 12:00 P.M. (Mon.to Fri.)</li>
                            <li>7:30 A.M. - 12:00 P.M. | 1:30 P.M. - 5:00 P.M (Mon.to Thurs.)</li>
                        </ul>
                    </li>
                    <li>
                        Online Payment(To pay online please click the link below)
                        <ul class="pl-5 mt-2 space-y-1 list-disc list-inside">
                            <li class="text-blue-600"><a href="#"
                                    class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                    Link for Online Payment
                                    <svg class="w-4 h-4 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 14 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                                    </svg>
                                </a></li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>