<div class="grid lg:grid-cols-12 gap-0">
  <div class="bg-blue-900 p-3 shadow-lg lg:col-span-6"
    style="background-image: url('assets/login.jpg'); background-size: cover; background-position: center center;">

    <div class="text-center max-w-screen-2xl text-center py-24 lg:py-24 mt-14">
      <div class="flex items-center justify-center ">
        <img src="assets/nlaclogo.png" alt="Descriptive Alt Text" width="250">
      </div>
      <h1 class=" text-xl font-bold text-white text-center lg:text-xl mt-10">

        JUNIOR HIGH | SENIOR HIGH SCHOOL
      </h1>
      <h1 class="mb-2 text-5xl font-extrabold tracking-tight leading-none text-yellow-300 lg:text-7xl">
        ONLINE REGISTRATION</h1>
      <h1 class="font-extrabold text-white text-2xl">S.Y. 2023 - 2024</h1>
    </div>
  </div>
  <div class="lg:col-span-6">
    <section class="dark:bg-gray-900 mt-14">
      <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12 ">
        <!-- <a class="flex justify-center mt-14 items-center py-1 px-1 pr-4 mb-5 font-bold text-4xl text-gray-800 rounded-full"
          style="font-family: 'Alumni Sans', sans-serif;
    font-size: 50px;" role="alert">
          <span class="bg-primary-600 rounded-full text-white pl-2">
            <img class="h-auto" width="150" src="assets/nlaclogo.png" alt="image description">

          </span>
          <span class="bg-primary-600 rounded-full text-white mr-2">
            <img class="h-auto" width="150" src="assets/logo.png" alt="image description">

          </span>
        </a> -->
        <a class="inline-flex justify-between mt-5 items-center py-1 px-1 pr-4 mb-5 font-bold text-4xl text-gray-800 rounded-full"
          style="font-family: 'Alumni Sans', sans-serif;
    font-size: 45px;" role="alert">
          <span class="font-lg mr-2 uppercase" style="font-family: 'Alumni Sans', sans-serif;
          font-size: 45px;">Northern Luzon Adventist College <b class="text-yellow-300">ACADEMY</b></span>
        </a>
        <br>
        <h1 class="mb-0 text-xl underline font-bold leading-none tracking-tight text-blue-900 dark:text-white">
          Start your registration TODAY!
        </h1>
        <br>
        <p style="font-family: 'Alumni Sans', sans-serif;
        font-size: 20px;"
          class="mb-10 text-lg rounded p-5 bg-blue-50 text-blue-900 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
          Our first day of classes will be on <b>August 22, 2023.</b> See you soon, NLACians!
        </p>
        <hr>
      </div>
      <div class="flex flex-col mb-10 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
        <a routerLink="/signup"
          class="inline-flex justify-center uppercase items-center py-6 px-8 text-base font-medium text-2xl text-center text-white bg-blue-800 rounded-lg hover:bg-blue-800 hover:text-white focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
          Enroll Now
          <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
        <a routerLink="/login"
          class="inline-flex justify-center uppercase items-center py-6 px-8 text-base font-medium text-center text-blue-900 rounded-lg hover:bg-blue-800 hover:text-white focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
          Login Account
        </a>
      </div>
    </section>
  </div>
</div>
