<div class="lg:max-w-full mt-4">
  <div class="grid gap-6 md:grid-cols-2">
    <div>
      <h1 class="text-3xl font-extrabold mb-3 text-blue-900 uppercase">
        Proof of Payment
      </h1>
      <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">
                Financial Details
              </th>
              <th scope="col" class="px-6 py-3 text-end">
                Amount
              </th>
            </tr>
          </thead>
          <tbody *ngFor="let tuition of tuitionData ">
            <tr class="bg-white dark:bg-gray-800">
              <th scope="row" class="px-6 py-1 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Tuition & Fees:
              </th>
              <td class="px-6 py-1 text-end">
                {{tuition.tuition_fees | currency: 'PHP'}}
              </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
              <th scope="row" class="px-6 py-1 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                General and Mics. Fee:
              </th>
              <td class="px-6 py-1 text-end">
                {{tuition.gen_fee | currency: 'PHP'}}
              </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
              <th scope="row" class="px-6 py-1 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                LMS Fee:
              </th>
              <td class="px-6 py-1 text-end">
                {{tuition.lms_fee | currency: 'PHP'}}
              </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
              <th scope="row" class="px-6 py-1 font-medium text-gray-900 whitespace-nowrap dark:text-white text-end">
                Less ESC:
              </th>
              <td class="px-6 py-1 text-end">
                {{tuition.esc | currency: 'PHP'}}
              </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
              <th scope="row" class="px-6 py-1 font-medium text-gray-900 whitespace-nowrap dark:text-white text-end">
                Less School Subsidy:
              </th>
              <td class="px-6 py-1 text-end">
                {{tuition.school_subsidy | currency: 'PHP'}}
              </td>
            </tr>
          </tbody>
          <tfoot *ngFor="let tuition of tuitionData ">
            <tr class="font-semibold text-gray-900 dark:text-white">
              <th scope="row" class="px-6 py-2 text-base">Balance:</th>
              <td class="px-6 py-2 text-end"> {{(tuition.old_acct + tuition.tuition_fees + tuition.gen_fee
                + tuition.lms_fee - (tuition.esc + tuition.school_subsidy)) | currency: 'PHP'}}</td>
            </tr>
            <tr class="font-semibold bg-green-200 p-4 text-gray-900 dark:text-white">
              <th scope="row" class="px-6 py-2 text-base">Downpayment:</th>
              <td class="px-6 py-2 text-end"> {{ (tuition.old_acct + tuition.tuition_fees +
                tuition.gen_fee + tuition.lms_fee - (tuition.esc + tuition.school_subsidy)) * 0.40 |
                currency: 'PHP'}}</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <br>
      <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
        <div *ngFor="let p of images">

          <div class="max-w-sm bg-white rounded-lg dark:bg-gray-800 dark:border-gray-700">
            <button type="button" (click)="viewImage(p.img)">
              <img class="img p-2 mx-auto shadow" width="250" height="150" src="{{p.img}}" alt="" />
              <figcaption class="mt-2 mb-3 text-sm text-center text-gray-500 dark:text-gray-400">{{p.amount_paid | currency:'PHP'}}
              </figcaption>
              <br>

            </button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <form>
        <div class="flex items-center justify-center w-full mb-3 mt-10">
          <label for="dropzone-file"
            class="flex flex-col items-center justify-center w-full h-auto border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
              <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
              </svg>
              <img class="img p-2 mx-auto shadow" *ngIf="url != null" width="250" height="150" [src]="url" alt="" />
              <h1>Upload Receipt <b class="text-gray-600">Here</b></h1>

            </div>
            <input id="dropzone-file" type="file" class="hidden" (change)="onFileSelected($event)"/>
          </label>
        </div>
        <div *ngIf="!showBTN">
          <div class="block max-w-full p-4 text-xs rounded mt-3">
            <div class="" style="font-size: 15px; text-align: left;">
              <strong class="text-grey-400">
                Payment could be made through:</strong>
            </div>
            <ol class="space-y-4 text-gray-900 list-decimal list-inside dark:text-gray-400">
              <li>
                School Cashier
                <ul class="pl-5 mt-2 space-y-1 list-disc list-inside">
                  <li>7:30-12:00 A.M. (Mon.to Fri.)</li>
                  <li>7:30-12:00 A.M. | 1:30-5:00 P.M (Mon.to Thurs.)</li>
                </ul>
              </li>
              <li>
                Online Payment(To pay online please click the link below)
                <ul class="pl-5 mt-2 space-y-1 list-disc list-inside">
                  <li class="text-blue-600"><a href="#"
                      class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                      Link for Online Payment
                      <svg class="w-4 h-4 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M1 5h12m0 0L9 1m4 4L9 9" />
                      </svg>
                    </a>
                  </li>
                </ul>
              </li>
            </ol>
          </div>
        </div>
        <div class="mb-6" *ngIf="showBTN">
          <label for="large-input" class="block mb-2 text-medium font-medium text-gray-900 dark:text-white">Amount:</label>
          <input type="number"  (change)="paymentData($event)" id="large-input" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>

        <button type="button" (click)="onPost()" *ngIf="showBTN"
          class="text-white mt-3 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Submit
        </button>
        <br>
      </form>
    </div>
  </div>
</div>


<div class="fixed inset-0 flex items-center justify-center z-50" *ngIf="isOpen">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
    <div class="py-4 text-left px-6">
      <div class="flex justify-between items-center pb-3">
        <div class="cursor-pointer z-50" (click)="closeModal()">
          <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
            viewBox="0 0 18 18">
            <path d="M18 1.3L16.7 0 9 7.7 1.3 0 0 1.3 7.7 9 0 16.7 1.3 18 9 10.3l7.7 7.7 1.3-1.3L10.3 9 18 1.3z" />
          </svg>
        </div>
      </div>

      <img class="img2 p-2 mx-auto shadow" [src]="viewImg" alt="" />

      <div class="flex justify-end pt-2">
        <button class="px-4 bg-transparent p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2"
          (click)="closeModal()">Close</button>
        <!-- <button class="px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400" (click)="approve()">Approve</button> -->
      </div>
    </div>
  </div>
</div>
