/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
}

.loader {
  color: #2329c4;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loader.fade-out {
  opacity: 0;
  display: none;
}
.loader span {
  display: inline-block;
  -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader span:nth-child(odd) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
@-webkit-keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

app-root {
  display: none;
}
