<nav class="">
  <div class="max-w-full bg-blue-900 text-white">
      <div class="flex flex-wrap justify-between items-center mx-auto p-2">
    <a class="flex items-center mt-2 mb-2">
      <img
        src="assets/logo.png"
        class="flex-1 align-items self-center ml-6"
        alt="Flowbite Logo" width="60" style="padding-right: .5rem;"/>
      <span class="self-center text-white text-medium font-semibold whitespace-nowrap dark:text-white  hidden md:block">
        Northern Luzon Adventist College <b class="text-yellow-300">ACADEMY</b>
        <br>
        S.Y. 2023 - 2024
      </span>
    </a>
    <div class="flex items-center">
      <!-- <a href="#" class="mr-6 text-lg  text-gray-100 dark:text-white" routerLink="/login/studentprofile">
        <i class="fa fa-user" aria-hidden="true"></i>
        Account
      </a> -->
      <a class="mr-6 text-lg  text-gray-100 dark:text-white" (click)="logout()">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        Log-out
      </a>
    </div>
  </div>
</div>
</nav>
<div class="p-5">
  <router-outlet></router-outlet>
</div>