<div class="lg:max-w-full p-5">
    <!-- <h1 class="text-xl font-extrabold text-blue-900 mb-3 lg:text-3xl">Monday Classes</h1> -->
    <div class="grid gap-6 md:grid-cols-1">
        <div class="xs:overflow-x-auto">

            <div 
                class="block max-w-full p-6 bg-white rounded-lg  hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-4 text-2xl font-bold tracking-tight text-blue-900 dark:text-white">
                   Subject
                </h5>
                <div class="relative overflow-x-auto">
                    <table class="w-full text-md text-left text-gray-500 dark:text-gray-800">
                        <thead>
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row"
                                    class="p-3 py-2 font-medium text-gray-600 whitespace-nowrap dark:text-white">
                                    Name
                                </th>

                                <td 
                                    class="p-3 py-2 font-medium text-gray-900 text-end whitespace-nowrap dark:text-white text-end">
                                    Grade
                                </td> 
                            </tr>
                        </thead>
                        <tbody *ngFor="let stud of stud_roster">
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row"
                                    class="p-3 py-2 font-medium text-gray-600 whitespace-nowrap dark:text-white">
                                    {{stud.LRN}}
                                </th>
                                
                                <td
                                    class="p-3 py-2 font-medium text-gray-600 text-end whitespace-nowrap dark:text-white">
                                    <form [formGroup]="Grade">
                                        <label for="">1st</label>
                                        <input type="text" class="text-gray-500 mr-4" formControlName="input" (keyup)="conditionalKeyup($event)" style="border: 0; width: 50px; text-align: center; border-radius: 10px; padding-left: 1rem;" value="0">
                            
                                        <label for="">2nd</label>
                                        <input type="text" class="text-gray-500 mr-2" formControlName="input2" (keyup)="conditionalKeyup2($event)" style="border: 0; width: 50px; text-align: center; border-radius: 10px;" value="0">
                                    
                               
                                        <label for="">3rd</label>
                                        <input type="text" class="text-gray-500" formControlName="input3" (keyup)="conditionalKeyup3($event)" style="border: 0; width: 50px; text-align: center; border-radius: 10px;  padding-left: 1rem;" value="0">
                                    
                               
                                        <label for="">4th</label>
                                        <input type="text" class="text-gray-500 ml-3" formControlName="input4" (keyup)="conditionalKeyup4($event)" style="border: 0; width: 50px; text-align: center; border-radius: 10px;" value="0">
                                    </form>
                                </td>
                            
                            </tr>
                            <!---
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row"
                                    class="p-3 py-2 font-medium text-gray-600 whitespace-nowrap dark:text-white">
                                    General and Miscallaenous Fees
                                </th>

                                <td
                                    class="p-3 py-2 font-medium text-gray-600 text-end whitespace-nowrap dark:text-white">
                                    7,970.86
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row"
                                    class="p-3 py-2 font-medium text-gray-600 whitespace-nowrap dark:text-white">
                                    LMS Fee:
                                </th>

                                <td
                                    class="p-3 py-2 font-medium text-gray-600 text-end whitespace-nowrap dark:text-white">
                                    1,750.00
                                </td>
                            </tr>
                            <tr class="bg-white dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row"
                                    class="p-3 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <b>Total Tuition and Fees (+old account):</b>
                                </th>

                                <td class="p-3 py-2 font-medium text-gray-900 text-end whitespace-nowrap dark:text-white"
                                    style="border-bottom: 3px double #000;">
                                    <b>25,864.41</b>
                                </td>
                            </tr>
                            <tr class="bg-white dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row"
                                    class="p-3 py-2 font-medium text-gray-900 text-end whitespace-nowrap dark:text-white">
                                    <b>Less: ESC</b>
                                </th>

                                <td
                                    class="p-3 py-2 font-medium text-gray-900 text-end whitespace-nowrap dark:text-white">
                                    <b>9,000.00</b>
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row"
                                    class="p-3 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <b>Total Balance:</b>
                                </th>

                                <td
                                    class="p-3 py-2 font-medium text-gray-600 text-end whitespace-nowrap dark:text-white">
                                    16,864.41
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row"
                                    class="p-3 py-2 font-medium text-gray-900 text-end whitespace-nowrap dark:text-white">
                                    <b>Down Payment: </b>
                                </th>

                                <td class="p-3 py-2 font-medium text-gray-900 text-end whitespace-nowrap dark:text-white"
                                    style="border-bottom: 3px double #000;">
                                    <b>6,314.41
                                    </b>
                                </td>
                            </tr>
                            <tr class="bg-green-200 border-b dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row"
                                    class="p-3 py-2 font-medium text-gray-900 text-end whitespace-nowrap dark:text-white">
                                    <b>Down Payment (No ESC): </b>
                                </th>

                                <td
                                    class="p-3 py-2 font-medium text-gray-900 text-end whitespace-nowrap dark:text-white">
                                    <b>9,714.41
                                    </b>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <br>
                <button type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Next</button>
            </div>

        </div>
    </div>
</div>